@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot");
  src: url("../fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Regular-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RobotoCondensedLight';
  src: url("../fonts/RobotoCondensed-Light-webfont.eot");
  src: url("../fonts/RobotoCondensed-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Light-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Light-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url("../fonts/RobotoCondensed-Bold-webfont.eot");
  src: url("../fonts/RobotoCondensed-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Bold-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: url(../images/bg.svg);
  background-position: center;
  font-family: "RobotoCondensedRegular";
  margin: 0;
  padding: 0; }

input[type='radio'] {
  display: none; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.imprint-link {
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px; }

.imprint-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: red;
  width: 100%;
  height: 100%;
  top: 0;
  color: #ffffff; }
  .imprint-container a {
    color: #000000;
    text-decoration: none; }
    .imprint-container a:hover {
      color: #cccccc; }
  .imprint-container--visible {
    display: flex; }

.close {
  background: url(../images/close.svg) no-repeat;
  cursor: pointer;
  width: 70px;
  height: 70px;
  position: absolute;
  right: 10px;
  top: 10px; }

.user-choice-form {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px; }

.user-choice__input:checked + label {
  transform: scale(1.2); }

.user-choice {
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  color: #FFFFFF;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .user-choice:not(.active) {
    opacity: 0.5; }
  .user-choice img {
    width: 100%;
    pointer-events: none; }
  .user-choice:hover {
    transform: scale(1.1); }

.user-choice-button {
  margin: 15px;
  height: 210px;
  width: 240px;
  cursor: pointer;
  background: url(../images/choose-it.svg) no-repeat;
  background-size: 210px;
  background-position: center;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease; }
  .user-choice-button:hover {
    background-size: 240px; }

.result {
  display: none;
  position: absolute;
  background: red;
  width: 100%;
  height: 100%;
  top: 0;
  color: #ffffff; }
  .result--visible {
    display: block; }
  .result__wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }
  .result__user, .result__computer {
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 320px;
    height: 220px;
    position: relative; }
  .result__text {
    font-size: 40px; }
  .result--rock {
    background: url(../images/rock.svg) 50% no-repeat; }
  .result--paper {
    background: url(../images/paper.svg) 50% no-repeat; }
  .result--scissors {
    background: url(../images/scissors.svg) 50% no-repeat; }
  .result__animation {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: handRein 0.5s 1, schnickschnackschnuck 2s 1s 1; }
    .result__animation--flipped {
      transform: scaleX(-1); }

.final-text {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  display: none; }
  .final-text.final-text--visible {
    display: block; }

@keyframes handRein {
  0% {
    right: -900px; }
  100% {
    right: 0; } }

@keyframes schnickschnackschnuck {
  0% {
    top: 0; }
  30% {
    top: -30px; }
  100% {
    top: 0; } }

/*# sourceMappingURL=main.css.map */