body {
	background: url(../images/bg.svg);
	background-position: center;
	font-family: $font-family-regular;
	margin: 0;
	padding: 0;
}

input[type='radio'] {
	display: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imprint-link {
	cursor: pointer;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.imprint-container {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	background: red;
	width: 100%;
	height: 100%;
	top: 0;
	color: #ffffff;
	a {
		color: #000000;
		text-decoration: none;
		&:hover {
			color: #cccccc;
		}
	}
	&--visible {
		display: flex;
	}
}

.close {
	background: url(../images/close.svg) no-repeat;
	cursor: pointer;
	width: 70px;
	height: 70px;
	position: absolute;
	right: 10px;
	top: 10px;
}
