.result {
	display: none;
	position: absolute;
	background: red;
	width: 100%;
	height: 100%;
	top: 0;
	color: #ffffff;

	&--visible {
		display: block;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__user,
	&__computer {
		display: inline-block;
		cursor: pointer;
		margin: 15px;
		width: 320px;
		height: 220px;
		position: relative;
	}

	&__text {
		font-size: 40px;
	}

	&--rock {
		background: url(../images/rock.svg) 50% no-repeat;
	}

	&--paper {
		background: url(../images/paper.svg) 50% no-repeat;
	}

	&--scissors {
		background: url(../images/scissors.svg) 50% no-repeat;
	}

	&__animation {
		position: absolute;
		width: 100%;
		height: 100%;
		animation: handRein 0.5s 1, schnickschnackschnuck 2s 1s 1;

		&--flipped {
			transform: scaleX(-1);
		}
	}
}

.final-text {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	font-size: 40px;
	display: none;

	&.final-text--visible {
		display: block;
	}
}

@keyframes handRein {
	0% {
		right: -900px;
	}
	100% {
		right: 0;
	}
}

@keyframes schnickschnackschnuck {
	0% {
		top: 0;
	}
	30% {
		top: -30px;
	}
	100% {
		top: 0;
	}
}
