.user-choice-form {
	display: flex;
	justify-content: center;
	margin: 30px 0 20px;
}

.user-choice__input:checked {
	+ label {
		transform: scale(1.2);
	}
}

.user-choice {
	display: inline-block;
	cursor: pointer;
	margin: 15px;
	color: $white;
	@include transition(all 0.2s ease);

	&:not(.active) {
		opacity: 0.5;
	}

	img {
		width: 100%;
		pointer-events: none;
	}

	&:hover {
		transform: scale(1.1);
	}
}

.user-choice-button {
	margin: 15px;
	height: 210px;
	width: 240px;
	cursor: pointer;
	background: url(../images/choose-it.svg) no-repeat;
	background-size: 210px;
	background-position: center;
	@include transition(all 0.1s ease);

	&:hover {
		background-size: 240px;
	}
}
